--font {
        font-family: "Coming Soon", cursive;
        font-family: "Raleway", sans-serif;
        font-family: "SUSE Mono", sans-serif;
}

.card-head {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 5dvh;
        color: rgb(255, 255, 255);
}

.pro-cards {
        font-family: "Comic Neue", cursive;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        text-align: center;
        align-items: center;
}

.pro-card {
        border: 2px solid wheat;
        padding: 20px;
        background-color: rgb(255, 249, 249);
        color: black;
}

.pro-img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
}

.numberofproducts {
        display: flex;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        justify-content: space-between;
        width: 80px;
        
}
.numberofproducts p{
        color: rgb(255, 255, 255);
}