.nav-main {
        display: flex;
        justify-content: space-between;
        user-select: none;
        height: 13dvh;
}
.nav-header {
        margin: 0 15px;
        display: flex;
        align-items: center;
        gap: 20px;
}
.nav-logo {
        padding: 5px;
        width: 7dvh;
        height: 7dvh;
        border-radius: 50%;
        background-color: hsl(0, 0%, 900%);
        box-shadow: 2px 2px 5px hsl(0, 0%, 80%);
}
.nav-head {
        font-family: "Moirai One", system-ui;
        font-size: 6dvh;
        text-shadow: 2px 2px hsl(0, 0%, 80%);
}
.nav-cart {
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        margin: 3dvh 2dvh;
        border-radius: 10px;
        background: linear-gradient(to right, hsl(0, 0%, 95%), hsl(0, 0%, 90%), hsl(0, 0%, 95%));
        box-shadow: 2px 2px 1px hsl(0, 0%, 80%);
}
.nav-link {
                color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: rgb(179, 173, 173);
        padding:1.2dvh 2dvh;
        font-family: "Comic Neue", cursive;
        font-size: 2dvh;
        border-radius: 5px;
        background: linear-gradient(to right, hsl(0, 0%, 93%), hsl(0, 0%, 95%), hsl(0, 0%, 93%));
        box-shadow: 2px 2px 1px hsl(0, 0%, 80%);
        border: 2px hsl(0, 0%, 90%) solid;
}