.main{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 5px 20px;
        user-select: none;
}
.header {
        display: flex;
        background-color: aliceblue;
}
.cart{
        background-color: aliceblue;
}
.header .logo{
        width: 10dvh;
        height: 11dvh;
}
.header .head {
        color: black;
        font-family: "Moirai One", system-ui;
        /* font-family: "Sour Gummy", sans-serif; */
        padding: 1px 10px;
        font-size: 7dvh;
}
.cart .but {
        margin: 0 10px;
        padding: 6px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        border-radius: 40%;
        border: none;
        box-shadow: 2px 2px 2px 2px black;
}
.cart .image {
        width: 6dvh;
        height: 6dvh;
}
